{% extends 'base.html' %}

{% block head %}
    <!-- Add styles for ExtJs -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}extjs/resources/css/ext-all.css" />
    <!-- Add styles of theme. I like grey more then blue one -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}extjs/resources/css/xtheme-gray.css" />
    <!-- Our custom styles -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}extjs/resources/css/custom.css" />
    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>
    <!-- Adapter for jQuery -->
    <script src="{{ MEDIA_URL }}extjs/adapter/jquery/ext-jquery-adapter.js"></script>
    <!-- ExtJs -->    
    <script src="{{ MEDIA_URL }}extjs/ext-all.js"></script>
    <!-- Extension for message display -->
    <script src="{{ MEDIA_URL }}js/Ext.ux.msg.js"></script>
    <!-- Initialization of Ext.Direct provider -->
    <script src="{% url main:api %}"></script>
    <!-- Components -->
    <script src="{{ MEDIA_URL }}js/Ext.ux.ProjectsPanel.js"></script>
    <!-- Our main viewport -->
    <script src="{{ MEDIA_URL }}js/Ext.ux.MainViewport.js"></script>    
    <script type="text/javascript">
        //Initiliztion of QuickTips and Ext.BLANK_IMAGE_URL
        Ext.BLANK_IMAGE_URL = '{{ MEDIA_URL }}extjs/resources/images/default/s.gif';
        Ext.QuickTips.init();
        
        //Show error message for failed request
        Ext.Ajax.on('requestexception', function(){
            Ext.ux.msg('Failure', 'Request failed', Ext.Msg.ERROR);
        }, this);
        
        //Show error message for RPC exceptions
        Ext.Direct.on('exception', function(event){
            Ext.ux.msg('RPC Error', event.message, Ext.Msg.ERROR);
        });
        
        var PROJECTS_ON_PAGE = {{ PROJECTS_ON_PAGE }};
    </script>      
{% endblock %}

{% block body %}
    <!-- Loading mask -->
    <div id="loading-mask" style=""></div>
    <div id="loading">
        <div class="loading-indicator">
            <img src="{{ MEDIA_URL }}img/ajax-loader.gif" align="absmiddle"/>
        </div>
    </div>
        
    {% block content %}{% endblock %}
    
    <script type="text/javascript">
    Ext.onReady(function(){
        //Remove loading mask
        setTimeout(function(){
            Ext.get('loading').remove();
            Ext.get('loading-mask').fadeOut({remove:true});
        }, 250);
    });
    </script> 
{% endblock %}