/* Ext.ux.msg */
#msg-div {
    left: 35%;
    position: absolute;
    top: 10px;
    width: 250px;
    z-index: 20000;
}

#msg-div .ext-mb-icon {
    background: transparent none no-repeat scroll left top;
    padding-left: 35px;
    min-height: 40px;
}

#msg-div .ext-mb-info {
    background-image: url(../images/default/window/icon-info.gif);
}

#msg-div .ext-mb-error {
    background-image: url(../images/default/window/icon-error.gif);
}

#msg-div .ext-mb-question {
    background-image: url(../images/default/window/icon-question.gif);
}

#msg-div .ext-mb-warning {
    background-image: url(../images/default/window/icon-warning.gif);
}
/**********************/

/*** Loading indicator ***/
#loading-mask{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
    position:absolute;
    left:45%;
    top:40%;
    padding:2px;
    z-index:20001;
    height:auto;
}
#loading img {
    margin-bottom:5px;
}
#loading .loading-indicator{
    background:white;
    color:#555;
    font:bold 13px tahoma,arial,helvetica;
    padding:10px;
    margin:0;
    text-align:center;
    height:auto;
}
#loading .loading-indicator img {
    width: 100px;
    height: 100px;
    margin-right:8px;
}
/***************************/

 .project-wrap {
     margin-bottom: 10px;
 }

 .project-wrap h3 {
     cursor: pointer;
 }
